@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@layer base {
  body {
    @apply bg-[#0A0A0A] text-zinc-200 overflow-x-hidden;
  }

  /* Custom Scrollbar for SCADA feel */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-zinc-900;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700 rounded-full hover:bg-zinc-600 transition-colors;
  }
}

@keyframes pulse-red {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.animate-pulse-red {
  animation: pulse-red 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
